In [5]:
# persiapan url dataset
engineering = 'https://thinkjubilee.com/data/engineering.csv'
state = 'https://thinkjubilee.com/data/state.csv'
ivies = 'https://thinkjubilee.com/data/iviesleague.csv'
liberalarts = 'https://thinkjubilee.com/data/liberalarts.csv'

# read data csv
import pandas as pd
en = pd.read_csv(engineering)
st = pd.read_csv(state)
ivy = pd.read_csv(ivies)
art = pd.read_csv(liberalarts)

In [10]:
en.shape

(19, 4)

In [11]:
st.shape

(175, 4)

In [12]:
ivy.shape

(8, 4)

In [13]:
art.shape

(47, 4)

## Method .concat()
menggabung dataframes vertikal kebawah

In [17]:
# buat variabel yang berisi list dataset
school = [en, st, ivy, art]

# gabung pakai .concat()
pd.concat(school) # <-- proses penggabungan lancar karena punya 'jumlah kolom' dan 'nama kolom' yang sama

,School Name,School Type,Starting Median Salary,Mid-Career Median Salary
0,Massachusetts Institute of Technology (MIT),Engineering,"$72,200.00","$126,000.00"
1,California Institute of Technology (CIT),Engineering,"$75,500.00","$123,000.00"
2,Harvey Mudd College,Engineering,"$71,800.00","$122,000.00"
3,"Polytechnic University of New York, Brooklyn",Engineering,"$62,400.00","$114,000.00"
4,Cooper Union,Engineering,"$62,200.00","$114,000.00"
...,...,...,...,...
42,Moravian College,Liberal Arts,"$42,500.00","$74,400.00"
43,Lewis & Clark College,Liberal Arts,"$38,900.00","$72,600.00"
44,Fort Lewis College,Liberal Arts,"$42,000.00","$69,800.00"
45,Thomas Aquinas College,Liberal Arts,"$41,500.00","$67,500.00"
46,Evergreen State College,Liberal Arts,"$39,500.00","$63,900.00"

## Column Axis Concatenation
penggabungan dilakukan dalam bentuk kolom

In [18]:
# kalo gabung horisontal gunakan axis=1
pd.concat(school, axis=1) # <-- mudah dibandingkan, tapi konsekuensinya bakal banyak null

,School Name,School Type,Starting Median Salary,Mid-Career Median Salary,School Name,School Type,Starting Median Salary,Mid-Career Median Salary,School Name,School Type,Starting Median Salary,Mid-Career Median Salary,School Name,School Type,Starting Median Salary,Mid-Career Median Salary
0,Massachusetts Institute of Technology (MIT),Engineering,"$72,200.00","$126,000.00","University of California, Berkeley",State,"$59,900.00","$112,000.00",Dartmouth College,Ivy League,"$58,000.00","$134,000.00",Bucknell University,Liberal Arts,"$54,100.00","$110,000.00"
1,California Institute of Technology (CIT),Engineering,"$75,500.00","$123,000.00",University of Virginia (UVA),State,"$52,700.00","$103,000.00",Princeton University,Ivy League,"$66,500.00","$131,000.00",Colgate University,Liberal Arts,"$52,800.00","$108,000.00"
2,Harvey Mudd College,Engineering,"$71,800.00","$122,000.00",Cal Poly San Luis Obispo,State,"$57,200.00","$101,000.00",Yale University,Ivy League,"$59,100.00","$126,000.00",Amherst College,Liberal Arts,"$54,500.00","$107,000.00"
3,"Polytechnic University of New York, Brooklyn",Engineering,"$62,400.00","$114,000.00",University of California at Los Angeles (UCLA),State,"$52,600.00","$101,000.00",Harvard University,Ivy League,"$63,400.00","$124,000.00",Lafayette College,Liberal Arts,"$53,900.00","$107,000.00"
4,Cooper Union,Engineering,"$62,200.00","$114,000.00","University of California, San Diego (UCSD)",State,"$51,100.00","$101,000.00",University of Pennsylvania,Ivy League,"$60,900.00","$120,000.00",Bowdoin College,Liberal Arts,"$48,100.00","$107,000.00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,NaN,NaN,NaN,NaN,Austin Peay State University,State,"$37,700.00","$59,200.00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
171,NaN,NaN,NaN,NaN,Pittsburg State University,State,"$40,400.00","$58,200.00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
172,NaN,NaN,NaN,NaN,Southern Utah University,State,"$41,900.00","$56,500.00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
173,NaN,NaN,NaN,NaN,Montana State University - Billings,State,"$37,900.00","$50,600.00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
174,NaN,NaN,NaN,NaN,Black Hills State University,State,"$35,300.00","$43,900.00",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Outer dan Inner
solusi penggabungan dataframe yang dimensinya beda

In [22]:
# tampilan asli dataset 'en'. ambil 5 data teratas
en.head()

,School Name,School Type,Starting Median Salary,Mid-Career Median Salary
0,Massachusetts Institute of Technology (MIT),Engineering,"$72,200.00","$126,000.00"
1,California Institute of Technology (CIT),Engineering,"$75,500.00","$123,000.00"
2,Harvey Mudd College,Engineering,"$71,800.00","$122,000.00"
3,"Polytechnic University of New York, Brooklyn",Engineering,"$62,400.00","$114,000.00"
4,Cooper Union,Engineering,"$62,200.00","$114,000.00"

In [20]:
# contoh: tambah kolom ['Location'] di dataset 'en'
en_copy = en.copy() # gunakan method .copy() agar gak recokin data aslinya
en_copy['Location'] = 'USA'
en_copy

,School Name,School Type,Starting Median Salary,Mid-Career Median Salary,Location
0,Massachusetts Institute of Technology (MIT),Engineering,"$72,200.00","$126,000.00",USA
1,California Institute of Technology (CIT),Engineering,"$75,500.00","$123,000.00",USA
2,Harvey Mudd College,Engineering,"$71,800.00","$122,000.00",USA
3,"Polytechnic University of New York, Brooklyn",Engineering,"$62,400.00","$114,000.00",USA
4,Cooper Union,Engineering,"$62,200.00","$114,000.00",USA
5,Worcester Polytechnic Institute (WPI),Engineering,"$61,000.00","$114,000.00",USA
6,Carnegie Mellon University (CMU),Engineering,"$61,800.00","$111,000.00",USA
7,Rensselaer Polytechnic Institute (RPI),Engineering,"$61,100.00","$110,000.00",USA
8,Georgia Institute of Technology,Engineering,"$58,300.00","$106,000.00",USA
9,Colorado School of Mines,Engineering,"$58,100.00","$106,000.00",USA
10,Stevens Institute of Technology,Engineering,"$60,600.00","$105,000.00",USA
11,Illinois Institute of Technology (IIT),Engineering,"$56,000.00","$97,800.00",USA
12,Wentworth Institute of Technology,Engineering,"$53,000.00","$96,700.00",USA
13,Virginia Polytechnic Institute and State Unive...,Engineering,"$53,500.00","$95,400.00",USA
14,South Dakota School of Mines & Technology,Engineering,"$55,800.00","$93,400.00",USA
15,New Mexico Institute of Mining and Technology ...,Engineering,"$51,000.00","$93,400.00",USA
16,Rochester Institute of Technology (RIT),Engineering,"$48,900.00","$84,600.00",USA
17,Embry-Riddle Aeronautical University (ERAU),Engineering,"$52,700.00","$80,700.00",USA
18,Tennessee Technological University,Engineering,"$46,200.00","$80,000.00",USA

In [26]:
# gabungin data 'en_copy' dengan 'ivy' yang gak punya kolom ['Location']
pd.concat([en_copy, ivy], axis=0)

,School Name,School Type,Starting Median Salary,Mid-Career Median Salary,Location
0,Massachusetts Institute of Technology (MIT),Engineering,"$72,200.00","$126,000.00",USA
1,California Institute of Technology (CIT),Engineering,"$75,500.00","$123,000.00",USA
2,Harvey Mudd College,Engineering,"$71,800.00","$122,000.00",USA
3,"Polytechnic University of New York, Brooklyn",Engineering,"$62,400.00","$114,000.00",USA
4,Cooper Union,Engineering,"$62,200.00","$114,000.00",USA
5,Worcester Polytechnic Institute (WPI),Engineering,"$61,000.00","$114,000.00",USA
6,Carnegie Mellon University (CMU),Engineering,"$61,800.00","$111,000.00",USA
7,Rensselaer Polytechnic Institute (RPI),Engineering,"$61,100.00","$110,000.00",USA
8,Georgia Institute of Technology,Engineering,"$58,300.00","$106,000.00",USA
9,Colorado School of Mines,Engineering,"$58,100.00","$106,000.00",USA
10,Stevens Institute of Technology,Engineering,"$60,600.00","$105,000.00",USA
11,Illinois Institute of Technology (IIT),Engineering,"$56,000.00","$97,800.00",USA
12,Wentworth Institute of Technology,Engineering,"$53,000.00","$96,700.00",USA
13,Virginia Polytechnic Institute and State Unive...,Engineering,"$53,500.00","$95,400.00",USA
14,South Dakota School of Mines & Technology,Engineering,"$55,800.00","$93,400.00",USA
15,New Mexico Institute of Mining and Technology ...,Engineering,"$51,000.00","$93,400.00",USA
16,Rochester Institute of Technology (RIT),Engineering,"$48,900.00","$84,600.00",USA
17,Embry-Riddle Aeronautical University (ERAU),Engineering,"$52,700.00","$80,700.00",USA
18,Tennessee Technological University,Engineering,"$46,200.00","$80,000.00",USA
0,Dartmouth College,Ivy League,"$58,000.00","$134,000.00",NaN
1,Princeton University,Ivy League,"$66,500.00","$131,000.00",NaN
2,Yale University,Ivy League,"$59,100.00","$126,000.00",NaN
3,Harvard University,Ivy League,"$63,400.00","$124,000.00",NaN
4,University of Pennsylvania,Ivy League,"$60,900.00","$120,000.00",NaN
5,Cornell University,Ivy League,"$60,300.00","$110,000.00",NaN
6,Brown University,Ivy League,"$56,200.00","$109,000.00",NaN
7,Columbia University,Ivy League,"$59,400.00","$107,000.00",NaN

In [27]:
# hal di atas serupa dengan atribut join='outer'
pd.concat([en_copy, ivy], join='outer')

,School Name,School Type,Starting Median Salary,Mid-Career Median Salary,Location
0,Massachusetts Institute of Technology (MIT),Engineering,"$72,200.00","$126,000.00",USA
1,California Institute of Technology (CIT),Engineering,"$75,500.00","$123,000.00",USA
2,Harvey Mudd College,Engineering,"$71,800.00","$122,000.00",USA
3,"Polytechnic University of New York, Brooklyn",Engineering,"$62,400.00","$114,000.00",USA
4,Cooper Union,Engineering,"$62,200.00","$114,000.00",USA
5,Worcester Polytechnic Institute (WPI),Engineering,"$61,000.00","$114,000.00",USA
6,Carnegie Mellon University (CMU),Engineering,"$61,800.00","$111,000.00",USA
7,Rensselaer Polytechnic Institute (RPI),Engineering,"$61,100.00","$110,000.00",USA
8,Georgia Institute of Technology,Engineering,"$58,300.00","$106,000.00",USA
9,Colorado School of Mines,Engineering,"$58,100.00","$106,000.00",USA
10,Stevens Institute of Technology,Engineering,"$60,600.00","$105,000.00",USA
11,Illinois Institute of Technology (IIT),Engineering,"$56,000.00","$97,800.00",USA
12,Wentworth Institute of Technology,Engineering,"$53,000.00","$96,700.00",USA
13,Virginia Polytechnic Institute and State Unive...,Engineering,"$53,500.00","$95,400.00",USA
14,South Dakota School of Mines & Technology,Engineering,"$55,800.00","$93,400.00",USA
15,New Mexico Institute of Mining and Technology ...,Engineering,"$51,000.00","$93,400.00",USA
16,Rochester Institute of Technology (RIT),Engineering,"$48,900.00","$84,600.00",USA
17,Embry-Riddle Aeronautical University (ERAU),Engineering,"$52,700.00","$80,700.00",USA
18,Tennessee Technological University,Engineering,"$46,200.00","$80,000.00",USA
0,Dartmouth College,Ivy League,"$58,000.00","$134,000.00",NaN
1,Princeton University,Ivy League,"$66,500.00","$131,000.00",NaN
2,Yale University,Ivy League,"$59,100.00","$126,000.00",NaN
3,Harvard University,Ivy League,"$63,400.00","$124,000.00",NaN
4,University of Pennsylvania,Ivy League,"$60,900.00","$120,000.00",NaN
5,Cornell University,Ivy League,"$60,300.00","$110,000.00",NaN
6,Brown University,Ivy League,"$56,200.00","$109,000.00",NaN
7,Columbia University,Ivy League,"$59,400.00","$107,000.00",NaN

In [28]:
# join='inner' untuk menggabaikan kolom yang beda
pd.concat([en_copy, ivy], join='inner')

,School Name,School Type,Starting Median Salary,Mid-Career Median Salary
0,Massachusetts Institute of Technology (MIT),Engineering,"$72,200.00","$126,000.00"
1,California Institute of Technology (CIT),Engineering,"$75,500.00","$123,000.00"
2,Harvey Mudd College,Engineering,"$71,800.00","$122,000.00"
3,"Polytechnic University of New York, Brooklyn",Engineering,"$62,400.00","$114,000.00"
4,Cooper Union,Engineering,"$62,200.00","$114,000.00"
5,Worcester Polytechnic Institute (WPI),Engineering,"$61,000.00","$114,000.00"
6,Carnegie Mellon University (CMU),Engineering,"$61,800.00","$111,000.00"
7,Rensselaer Polytechnic Institute (RPI),Engineering,"$61,100.00","$110,000.00"
8,Georgia Institute of Technology,Engineering,"$58,300.00","$106,000.00"
9,Colorado School of Mines,Engineering,"$58,100.00","$106,000.00"
10,Stevens Institute of Technology,Engineering,"$60,600.00","$105,000.00"
11,Illinois Institute of Technology (IIT),Engineering,"$56,000.00","$97,800.00"
12,Wentworth Institute of Technology,Engineering,"$53,000.00","$96,700.00"
13,Virginia Polytechnic Institute and State Unive...,Engineering,"$53,500.00","$95,400.00"
14,South Dakota School of Mines & Technology,Engineering,"$55,800.00","$93,400.00"
15,New Mexico Institute of Mining and Technology ...,Engineering,"$51,000.00","$93,400.00"
16,Rochester Institute of Technology (RIT),Engineering,"$48,900.00","$84,600.00"
17,Embry-Riddle Aeronautical University (ERAU),Engineering,"$52,700.00","$80,700.00"
18,Tennessee Technological University,Engineering,"$46,200.00","$80,000.00"
0,Dartmouth College,Ivy League,"$58,000.00","$134,000.00"
1,Princeton University,Ivy League,"$66,500.00","$131,000.00"
2,Yale University,Ivy League,"$59,100.00","$126,000.00"
3,Harvard University,Ivy League,"$63,400.00","$124,000.00"
4,University of Pennsylvania,Ivy League,"$60,900.00","$120,000.00"
5,Cornell University,Ivy League,"$60,300.00","$110,000.00"
6,Brown University,Ivy League,"$56,200.00","$109,000.00"
7,Columbia University,Ivy League,"$59,400.00","$107,000.00"

## Method .merge()
menggabungkan dua atau lebih DataFrame. Syarat: harus ada NAMA KOLOM YANG SAMA

In [33]:
# buat variabel yang berisi list dataset
school = [en, st, ivy, art]
sekolah = pd.concat(school)
sekolah

,School Name,School Type,Starting Median Salary,Mid-Career Median Salary
0,Massachusetts Institute of Technology (MIT),Engineering,"$72,200.00","$126,000.00"
1,California Institute of Technology (CIT),Engineering,"$75,500.00","$123,000.00"
2,Harvey Mudd College,Engineering,"$71,800.00","$122,000.00"
3,"Polytechnic University of New York, Brooklyn",Engineering,"$62,400.00","$114,000.00"
4,Cooper Union,Engineering,"$62,200.00","$114,000.00"
...,...,...,...,...
42,Moravian College,Liberal Arts,"$42,500.00","$74,400.00"
43,Lewis & Clark College,Liberal Arts,"$38,900.00","$72,600.00"
44,Fort Lewis College,Liberal Arts,"$42,000.00","$69,800.00"
45,Thomas Aquinas College,Liberal Arts,"$41,500.00","$67,500.00"
46,Evergreen State College,Liberal Arts,"$39,500.00","$63,900.00"

In [31]:
# dataframe baru
wilayah = 'https://thinkjubilee.com/data/regions.csv'
wil = pd.read_csv(wilayah)
wil

                                      School Name        Region
0     Massachusetts Institute of Technology (MIT)  Northeastern
1        California Institute of Technology (CIT)    California
2                             Harvey Mudd College    California
3    Polytechnic University of New York, Brooklyn  Northeastern
4                                    Cooper Union  Northeastern
..                                            ...           ...
264                  Austin Peay State University      Southern
265                    Pittsburg State University    Midwestern
266                      Southern Utah University       Western
267           Montana State University - Billings       Western
268                  Black Hills State University    Midwestern

[269 rows x 2 columns]

In [34]:
# gabung 'sekolah' dengan dataframe baru
pd.merge(sekolah, wil)

,School Name,School Type,Starting Median Salary,Mid-Career Median Salary,Region
0,Massachusetts Institute of Technology (MIT),Engineering,"$72,200.00","$126,000.00",Northeastern
1,California Institute of Technology (CIT),Engineering,"$75,500.00","$123,000.00",California
2,Harvey Mudd College,Engineering,"$71,800.00","$122,000.00",California
3,"Polytechnic University of New York, Brooklyn",Engineering,"$62,400.00","$114,000.00",Northeastern
4,Cooper Union,Engineering,"$62,200.00","$114,000.00",Northeastern
...,...,...,...,...,...
264,Moravian College,Liberal Arts,"$42,500.00","$74,400.00",Northeastern
265,Lewis & Clark College,Liberal Arts,"$38,900.00","$72,600.00",Western
266,Fort Lewis College,Liberal Arts,"$42,000.00","$69,800.00",Western
267,Thomas Aquinas College,Liberal Arts,"$41,500.00","$67,500.00",California
268,Evergreen State College,Liberal Arts,"$39,500.00","$63,900.00",Western

### Parameter left_on dan right_on

In [35]:
# dataset baru
income = 'https://thinkjubilee.com/data/gaji.csv'
gaji = pd.read_csv(income)
gaji

,school_name,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary
0,Massachusetts Institute of Technology (MIT),"$76,800.00","$99,200.00","$168,000.00","$220,000.00"
1,California Institute of Technology (CIT),NaN,"$104,000.00","$161,000.00",NaN
2,Harvey Mudd College,NaN,"$96,000.00","$180,000.00",NaN
3,"Polytechnic University of New York, Brooklyn","$66,800.00","$94,300.00","$143,000.00","$190,000.00"
4,Cooper Union,NaN,"$80,200.00","$142,000.00",NaN
...,...,...,...,...,...
264,Austin Peay State University,"$32,200.00","$40,500.00","$73,900.00","$96,200.00"
265,Pittsburg State University,"$25,600.00","$46,000.00","$84,600.00","$117,000.00"
266,Southern Utah University,"$30,700.00","$39,700.00","$78,400.00","$116,000.00"
267,Montana State University - Billings,"$22,600.00","$31,800.00","$78,500.00","$98,900.00"
268,Black Hills State University,"$27,000.00","$32,200.00","$60,900.00","$87,600.00"

In [36]:
# gabung dataset 'gaji' dengan 'sekolah'
pd.merge(sekolah, gaji) # <-- error karena gak ada nama kolom yang sama

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False

In [38]:
# solusinya gunakan attribut left_on atau right_on
pd.merge(sekolah, gaji, left_on='School Name', right_on='school_name') # <-- pastikan nama kolom sama

,School Name,School Type,Starting Median Salary,Mid-Career Median Salary,school_name,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary
0,Massachusetts Institute of Technology (MIT),Engineering,"$72,200.00","$126,000.00",Massachusetts Institute of Technology (MIT),"$76,800.00","$99,200.00","$168,000.00","$220,000.00"
1,California Institute of Technology (CIT),Engineering,"$75,500.00","$123,000.00",California Institute of Technology (CIT),NaN,"$104,000.00","$161,000.00",NaN
2,Harvey Mudd College,Engineering,"$71,800.00","$122,000.00",Harvey Mudd College,NaN,"$96,000.00","$180,000.00",NaN
3,"Polytechnic University of New York, Brooklyn",Engineering,"$62,400.00","$114,000.00","Polytechnic University of New York, Brooklyn","$66,800.00","$94,300.00","$143,000.00","$190,000.00"
4,Cooper Union,Engineering,"$62,200.00","$114,000.00",Cooper Union,NaN,"$80,200.00","$142,000.00",NaN
...,...,...,...,...,...,...,...,...,...
264,Moravian College,Liberal Arts,"$42,500.00","$74,400.00",Moravian College,NaN,"$56,700.00","$94,900.00",NaN
265,Lewis & Clark College,Liberal Arts,"$38,900.00","$72,600.00",Lewis & Clark College,"$38,200.00","$53,400.00","$104,000.00","$140,000.00"
266,Fort Lewis College,Liberal Arts,"$42,000.00","$69,800.00",Fort Lewis College,NaN,"$55,000.00","$94,000.00",NaN
267,Thomas Aquinas College,Liberal Arts,"$41,500.00","$67,500.00",Thomas Aquinas College,NaN,"$44,600.00","$93,100.00",NaN
268,Evergreen State College,Liberal Arts,"$39,500.00","$63,900.00",Evergreen State College,"$38,800.00","$47,200.00","$91,600.00","$120,000.00"

### Menggunakan method .drop()

In [39]:
# gunakan method .drop() untuk menghapus kolom yang sama
pd.merge(sekolah, gaji, left_on='School Name', right_on='school_name').drop('school_name', axis=1) # <-- axis=1 berarti kolom

,School Name,School Type,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary
0,Massachusetts Institute of Technology (MIT),Engineering,"$72,200.00","$126,000.00","$76,800.00","$99,200.00","$168,000.00","$220,000.00"
1,California Institute of Technology (CIT),Engineering,"$75,500.00","$123,000.00",NaN,"$104,000.00","$161,000.00",NaN
2,Harvey Mudd College,Engineering,"$71,800.00","$122,000.00",NaN,"$96,000.00","$180,000.00",NaN
3,"Polytechnic University of New York, Brooklyn",Engineering,"$62,400.00","$114,000.00","$66,800.00","$94,300.00","$143,000.00","$190,000.00"
4,Cooper Union,Engineering,"$62,200.00","$114,000.00",NaN,"$80,200.00","$142,000.00",NaN
...,...,...,...,...,...,...,...,...
264,Moravian College,Liberal Arts,"$42,500.00","$74,400.00",NaN,"$56,700.00","$94,900.00",NaN
265,Lewis & Clark College,Liberal Arts,"$38,900.00","$72,600.00","$38,200.00","$53,400.00","$104,000.00","$140,000.00"
266,Fort Lewis College,Liberal Arts,"$42,000.00","$69,800.00",NaN,"$55,000.00","$94,000.00",NaN
267,Thomas Aquinas College,Liberal Arts,"$41,500.00","$67,500.00",NaN,"$44,600.00","$93,100.00",NaN
268,Evergreen State College,Liberal Arts,"$39,500.00","$63,900.00","$38,800.00","$47,200.00","$91,600.00","$120,000.00"